/* css variables*/ 

html {
  padding: 1;
  margin-left: 3rem;
  margin-right: 3rem;
  font-size: 0.85rem;
  line-height: 1.5;
  font-weight: 300;
  color: #333;
  font-family: 'Raleway', sans-serif;
}
.description {
  width: 95%;
  margin: 5% auto;
  font-weight: 500;
  font-size: 1.118rem;
  text-align: left;
  letter-spacing: 0.1ch;
  line-height: 1.35rem;
  padding-bottom: 1.25rem;
  margin-bottom: 1.15rem;
  margin-top: 1.5rem;
  position: relative;
}
.description-jobpage {
  width: 95%;
  margin-left: 6rem;
  margin-right: 6rem;
  font-weight: 500;
  font-size: 1.118rem;
  text-align: left;
  letter-spacing: 0.1ch;
  line-height: 1.35rem;
  padding-bottom: 1.25rem;
  margin-bottom: 1.15rem;
  margin-top: 1.5rem;
  position: relative;
}
.heading-jobpage {
	width: 100%;
	font-size: 1.918rem;
	letter-spacing: 0.1ch;
	line-height: 1.25rem;
	padding-bottom: 1.25rem;
	margin-top: 1.5rem;
	position: relative;
}

p {
  font-weight: 300;
  color: #4A4A4A;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
}
.content {
  display: flex;
  flex: 1;
  margin-left: 4rem;
  margin-right: 4rem;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}

.content-index {
  display: flex;
  flex: 1;
  margin-left: 6rem;
  margin-right: 6rem;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}

/* .container {
	display: flex;
	margin-left: 2rem;
	margin-right: 2rem;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	max-width: 30vw;
	flex-direction: row;
}
 */
.container-svg {
	display: flex;
	margin-left: 4rem;
	margin-right: 4rem;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	max-width: 100%;
	flex-direction: row;
}

li:not(:last-child) {
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    color: #4A4A4A;
}
img {
  max-width: calc(98% - 1rem);
  object-fit: fill;
  vertical-align: top;
}
.rsspimg {
  max-width: 10vw;
  object-fit: contain;
  vertical-align: top;
}
.tooltip {
    display:inline-block;
    position:relative;
    text-align:right;
}
.tooltip .left {
    min-width:130px; 
    top:50%;
    right:100%;
    margin-right:20px;
    transform:translate(0, -0%);
    padding:10px 20px;
    color:#444444;
    background-color:#FFFFFF;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    border:1px solid transparent;box-shadow:0 1px 8px transparent;
    visibility:hidden; opacity:0; transition:opacity 0.8s;
}
.tooltip:hover .left {
    visibility:visible; opacity:1;
}
.tooltip .left i {
    position:absolute;
    top:0%;
    left:100%;
    margin-top:-0px;
    width:0px;
    height:0px;
    overflow:hidden;
}

.tooltip .left i::after {
    content:'';
    position:absolute;
    width:0px;
    height:0px;
    left:0;
    top:50%;
    transform:translate(-50%,-50%) rotate(-45deg);
    background-color:#FFFFFF;
    border:1px solid transparent;box-shadow:0 1px 8px transparent;
}
a:hover img.rsspimg {
    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
        box-shadow: 1px 1px 5px #999;
}
a, a:hover {
  text-decoration: none;
  color: var(--primary-color);
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* links */
.link {
  text-decoration: none;
  transition: all 0.3s ease-out;
}
.link:hover {
  color: var(--accent-color);
}
.link--dark {
  color: var(--primary-color);
}
.link--light {
  color: var(--accent-color);
}

/*media queries*/
 
/*
@media (max-width: 750px) {
  .content {
    flex-direction: column;
    font-size: smaller;
  }
  .container-jobpage {
    flex-direction: column;
  }
  .heading-jobpage {
    line-height: 1.9rem;
  }
  .description-jobpage {
      font-size: smaller;
  }
}
   
@media screen and (max-width:800px) {
  .card {
    width: 85vw;
  }
  .content {
    flex-direction: column;
    font-size: smaller;
  }
    .container-jobpage {
    flex-direction: column;
  }
  .heading-jobpage {
  line-height: 1.9rem;
  }
 .description-jobpage {
      font-size: smaller;
  }
}
    
@media screen and (max-width: 414px) {
  .card {
    height: 25vh;
  }
  .content {
    flex-direction: column;
    font-size: smaller;
  }
  .container-jobpage {
    flex-direction: column;
  }
  .heading-jobpage {
  line-height: 1.9rem;
  }
 .description-jobpage {
      font-size: smaller;
  }
}
    */
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	
}

/* iPad 3 (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (-webkit-min-device-pixel-ratio : 2),
only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (min-resolution: 192dpi) { 

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
	
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
	
}

/* Retina displays ----------- */
@media  only screen 
and (-webkit-min-device-pixel-ratio : 2), 
only screen 
and (min-resolution: 192dpi) {

}

/* For non-retina based devices that have a smaller screen */
@media only screen and (min-width: 320px) {

}

/* Retina enabled devices with smaller screen */
@media  only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), 
only screen and ( -o-min-device-pixel-ratio: 2/1) and (min-width: 320px),  
only screen and ( min-device-pixel-ratio: 2) and (min-width: 320px),  
only screen and ( min-resolution: 192dpi) and (min-width: 320px),  
only screen and ( min-resolution: 2dppx) and (min-width: 320px) {

}

/*Non- retina based devices with medium screen size */
@media only screen and (min-width: 768px) {

}

/* Retina devices with medium screen size */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),  
only screen and ( -o-min-device-pixel-ratio: 2/1) and (min-width: 768px),  
only screen and ( min-device-pixel-ratio: 2) and (min-width: 768px),  
only screen and ( min-resolution: 192dpi) and (min-width: 768px),  
only screen and ( min-resolution: 2dppx) and (min-width: 768px) {

}

/* Non-retina devices with large screen sizes */
@media only screen and (min-width: 1200px) {

}

/* Retina devices with large screen sizes */
@media  only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px),  
only screen and ( -o-min-device-pixel-ratio: 2/1) and (min-width: 1200px),  
only screen and ( min-device-pixel-ratio: 2) and (min-width: 1200px),  
only screen and ( min-resolution: 192dpi) and (min-width: 1200px),  
only screen and ( min-resolution: 2dppx) and (min-width: 1200px) {

}
