/* css variables*/ 

html {
  padding: 1;
  margin-left: 3rem;
  margin-right: 3rem;
  /*font-family: 'Nunito Sans', sans-serif;*/
  /*font-family: 'Comfortaa', cursive;*/
  font-family: 'Raleway', sans-serif;
}
.description {
  width: 95%;
  margin: 5% auto;
  font-weight: 500;
  font-size: 1.118rem;
  /*text-transform: uppercase;*/
  text-align: left;
  letter-spacing: 0.1ch;
  line-height: 1.35rem;
  padding-bottom: 1.25rem;
  margin-bottom: 1.15rem;
  margin-top: 1.5rem;
  position: relative;
  /*font-family: 'Comfortaa', cursive;*/
}
.description-jobpage {
  width: 95%;
  /*margin: 5% auto;*/
  margin-left: 6rem;
  margin-right: 6rem;
  font-weight: 500;
  font-size: 1.118rem;
  /*text-transform: uppercase;*/
  text-align: left;
  letter-spacing: 0.1ch;
  line-height: 1.35rem;
  padding-bottom: 1.25rem;
  margin-bottom: 1.15rem;
  margin-top: 1.5rem;
  position: relative;
  /*font-family: 'Comfortaa', cursive;*/
}
.heading-jobpage {
	width: 100%;
	/*margin-left: 1rem;
	font-weight: 800;*/
	font-size: 1.918rem;
	/*text-transform: uppercase;*/
	letter-spacing: 0.1ch;
	line-height: 1.25rem;
	padding-bottom: 1.25rem;
	/*margin-bottom: 1.15rem;*/
	margin-top: 1.5rem;
	position: relative;
}

p {
  font-weight: 300;
  color: #4A4A4A;
}
.content {
  display: flex;
  flex: 1;
  /*flex: 0 0 auto;*/
  margin: 0 auto;
  justify-content: center;
  /*justify-content: space-between;*/
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  /*color: #333;*/
  /*font-family: 'Comfortaa', cursive;*/
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
}
.content-jobpage {
  display: flex;
  flex: 1;
  /*flex: 0 0 auto;*/
  margin: 0 auto;
  justify-content: center;
  /*justify-content: space-between;*/
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  /*color: #333;*/
  /*font-family: 'Comfortaa', cursive;*/
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}
.card {
  /*cursor: pointer;*/
  /*width: calc(50% - 4rem);*/
  /*width: 100%;*/
  margin: 2rem;
  position: relative;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: ffffff;
  /*height: 50vh;
	padding: 2rem;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;*/
  overflow: visible;
  border-radius: 3px;
}
.container {
	display: flex;
	margin-left: 4rem;
	margin-right: 4rem;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	max-width: 100%;
	flex-direction: row;
}
.container-jobpage {
	display: flex;
	margin-left: 6rem;
	margin-right: 6rem;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	max-width: 100%;
	flex-direction: row;
}
li:not(:last-child) {
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    color: #4A4A4A;
}
img {
  max-width: calc(98% - 1rem);
  /*max-height: 100%;*/
  object-fit: fill;
  vertical-align: top;
}
.rsspimg {
  max-width: calc(105%);
  /*max-height: 100%;*/
  object-fit: fill;
  vertical-align: top;
}
a, a:hover {
  text-decoration: none;
  color: var(--primary-color);
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* typography */
.section__title {
  color: var(--primary-color);
}
/* links */
.link {
  text-decoration: none;
  transition: all 0.3s ease-out;
}
.link:hover {
  color: var(--accent-color);
}
.link--dark {
  color: var(--primary-color);
}
.link--light {
  color: var(--accent-color);
}
/* nav specialized to landing page */
.logo {
  background: url('file://"RS_logo.svg"RS_logo.svg') no-repeat;
  background-size: contain;
  margin: 1rem 0 0 1rem;
}
nav {
  background-color: var(--bg-color);
}
/* hero section */
.hero {
  text-align: center;
  background-color: var(--bg-color);
  padding: 2rem 0 2rem 0;
}
.hero__title {
  font-weight: 800;
  font-size: 1.918rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1ch;
  line-height: 1.85rem;
  color: var(--primary-color);
}
.hero__description {
  margin: -1rem auto 2rem auto;
}
/* feature section */
.feature {
  display: flex;
  flex-wrap: wrap;
}

/*.feature__item {
  max-width: calc(33% - 20px);
  margin: 0 20px 0 0;
}

.feature__item .section__title {
  margin-bottom: 0;
}

.feature__item p {
  margin-top: 0.5rem;
}*/

@media (max-width: 750px) {
  .hero__terminal {
    width: 70%;
  }
  .tab__container > ul {
    right: auto;
    left: 0;
    padding-left: 0;
  }
  .tab__container .code {
    margin-top: 2rem;
  }
  .feature, .keybinding, .changelog__item {
    flex-direction: column;
  }
  .feature__item {
    max-width: 100%;
    margin: 0;
  }
  .keybinding {
    font-size: 0.8rem;
  }
  .content {
    flex-direction: column;
  }
.heading-jobpage {
    line-height: 1.9rem;
}
@media screen and (max-width:800px) {
  .card {
    width: 85vw;
  }
  .content {
    flex-direction: column;
  }
  .heading-jobpage {
  line-height: 1.9rem;
  }
}
@media screen and (max-width: 414px) {
  .card {
    height: 25vh;
  }
  .content {
    flex-direction: column;
  }
  .heading-jobpage {
  line-height: 1.9rem;
  }
}
